input {
    redis {
        batch_count => 3000
        host => "{{ redis.host }}"
        port => {{ redis.port }}
        password => "{{ redis.password }}"
        db => 0
        key => "nginx-access"
        data_type => "list"
        timeout => 5
    }
}

filter {
    grok {
        #match => { "message" => "%{IP:remote_addr} - %{HTTPDUSER:remote_user} \[%{HTTPDATE:time_local}\] \"%{WORD:method} %{DATA:request} %{DATA:protocol_version}\" %{INT:status} %{INT:body_bytes_sent} \"%{DATA:http_referer}\" \"%{DATA:http_user_agent}\" \"%{DATA:http_x_forwarded_for}\" \"%{DATA:domain}\" %{NUMBER:request_time} %{INT:request_length} \"%{DATA:upstream_addr}\" (?:%{NUMBER:upstream_response_time}|-) (?:%{INT:upstream_status}|-) \"%{DATA:request_body}\""}
        match => { "message" => "%{IP:remote_addr} - %{HTTPDUSER:remote_user} \[%{HTTPDATE:time_local}\] \"%{WORD:method} %{DATA:request} %{DATA:protocol_version}\" %{INT:status} %{INT:body_bytes_sent} \"%{DATA:http_referer}\" \"%{DATA:http_user_agent}\" \"%{DATA:http_x_forwarded_for}\" \"%{DATA:domain}\" %{NUMBER:request_time} %{INT:request_length}"}
    }

    if [remote_addr] == '127.0.0.1' {
        drop {}
    }

    if [http_x_forwarded_for] == "-" {
        mutate {
            add_field => { "client_ip" => "%{remote_addr}"}
        }
    } else {
        mutate {
            split => { "http_x_forwarded_for" => "," }
            add_field => { "client_ip" => "%{[http_x_forwarded_for][0]}"}
        }
    }

    geoip {
        source => "client_ip"
    }
    
    useragent {
        source => "http_user_agent"
        target => "ua"
    }

    date {
        match => [ "time_local" , "dd/MMM/yyyy:HH:mm:ss Z" ]
    }

    mutate {
        convert => { "status" => "integer" }
        convert => { "body_bytes_sent" => "integer" }
        convert => { "request_length" => "integer" }
        convert => { "request_time" => "float" }
    }
}

output {
    elasticsearch {
        hosts => ["{{ es.host }}:{{ es.port }}"]
        #user => "{{ es.user }}"
        #password => "{{ es.password }}"
        index => "logstash-nginx-access-%{+YYYY.MM.dd}"
    }

    #stdout { codec => rubydebug }
}
