upstream proxy_grafana{
	server 127.0.0.1:3000;
	keepalive 32;
}

server {
    set $Site {{ grafana_server_hostname }};
    server_name {{ grafana_server_hostname }};

    location / {
        proxy_pass http://proxy_grafana;
    }

    include conf.d/proxy/proxy.conf;

    access_log /data0/logs/nginx/{{ grafana_server_hostname }}.access.log  main_product;
    error_log /data0/logs/nginx/{{ grafana_server_hostname }}.error.log;
}
