[demo.php.com]
listen = /dev/shm/php-cgi-$pool.sock
listen.mode = 0666
user = {{ php_os_user }}
group = {{ php_os_group }}

pm = dynamic
pm.max_children = 40
pm.start_servers = 1
pm.min_spare_servers = 1
pm.max_spare_servers = 10
pm.max_requests = 10240
pm.status_path = /status

slowlog = {{ php_fpm_logdir }}/$pool.slow.log
request_slowlog_timeout = 3

;php_admin_value[open_basedir] = /tmp
php_admin_value[error_log] = {{ php_fpm_logdir }}/$pool.error.log
php_admin_flag[log_errors] = on
;php_admin_flag[display_errors] = on
