{{ nginx_logs_dir }}/*.log {
    create 0600 {{ nginx_user }} {{ nginx_user }}
    daily
    rotate 7
    missingok
    notifempty
    compress
    delaycompress
    sharedscripts
    postrotate
        {{ nginx_install_dir }}/sbin/nginx -s reopen
    endscript
}
