{{ nginx_logdir }}/*.log {
    create 0600 {{ nginx_user }} {{ nginx_group }}
    daily
    rotate 10
    missingok
    notifempty
    compress
    sharedscripts
    postrotate
        /usr/sbin/nginx -s reopen
    endscript
}
