{{ nginx_log_dir }}/*.log {
    create 0600 {{ nginx_os_user }} {{ nginx_os_group }}
    daily
    rotate 14
    missingok
    notifempty
    compress
    sharedscripts
    postrotate
        /usr/sbin/nginx -s reopen
    endscript
}
