upstream certimate_backend{
	server 127.0.0.1:{{ certimate_bind_port }};
	keepalive 32;
}

server {
    server_name {{ certimate_domain }};

    location / {
        proxy_pass http://certimate_backend;
    }

    include conf.d/proxy/proxy.conf;

    access_log {{ nginx_log_dir }}/{{ certimate_domain }}.access.log  main_product;
    error_log {{ nginx_log_dir }}/{{ certimate_domain }}.error.log;
}
