{{ mysql_datadir }}/{{ mysql_port }}/logs/errorlog/*.log {{ mysql_datadir }}/{{ mysql_port }}/logs/slowlog/*.log {
daily
rotate 15
missingok
notifempty
compress
create 0600 {{ mysql_os_user.name }} {{ mysql_os_user.name }}

sharedscripts
postrotate
    mysqladmin flush-logs -S {{ mysql_datadir }}/{{ mysql_port }}/mysql.sock
endscript
}
