{% if mode == "passive" %}
Server=127.0.0.1,{{ zabbix_server_hostname }}
{% else  %}
ServerActive={{ zabbix_server_hostname }}
Server=
Hostname=
HostnameItem=system.hostname
HostMetadata= Linux i1Zdocck6RQTC99M8ZF
{% endif %}
